<div class="row">
  <form (submit)="addTask($event)" class="well">
    <div class="form-group">
      <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add task">
    </div>
  </form>
</div>

<div class="row">

    <div class="task-list" *ngFor="let task of tasks">
      <div class="col-md-1">
        <input type="checkbox">
      </div>
      <div class="col-md-7">
        <p>{{task.title}}</p>
      </div>
      <div class="col-md-4">
        <input type="button" (click)="deleteTask(task._id)" value="Delete" class="btn btn-danger">
      </div>
      <br>
      <br>
    </div>

</div>

